body {
    background-color: deepskyblue;
}

.center {
    text-align: center;
}
form {
    margin-left: 3in;
}

.button {
    margin-left: 5in;
}

ul {
    margin-left: 5.5in;
}

.strike {
    text-decoration: line-through;
}

.editForm {
    margin-left: 5.5in;
}

.bold {
    font-weight: 800;
}

img {
    height: 1in;
    width: 1in;
}

